@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

html,
body {
  height: 100%; /* Ensure html and body occupy full height */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#__next {
  height: 100%; /* Ensure Next.js root element is full height */
}

/* Add this to your global CSS file (e.g., styles/globals.css) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
